.loginBackground {
  position: absolute;
  height: 60%;
  background-color: #002c69;
  top: 22.5%;
  z-index: -1;
  width: 100%;
  left: 0;
}

.imageContainer {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
